# .env
# Replace the values below with your actual Adzuna credentials

CAREERJET_AFFID=your_affid_here


JSEARCH_API_KEY=


# Copy to .env and adjust if needed
BAYT_COUNTRY= your_COUNTRY
SCRAPY_LOG_LEVEL= your_LOG_LEVEL
BRONZE_PATH= your_BRONZE_PATH
SILVER_PATH= your_SILVER_PATH
GOLD_DIR= your_GOLD_PATH